.header{
  width: 100%;
  height: 15%;
  border: 0px;
  border-bottom: 2px;
  border-color: #333;
  border-style: solid;
}

.header_text{
   display:inline-block;
   width:75%;
   text-align:center;
}

.header_h1{
   font-family:Monotype Corsiva;
}


.frame {
    height: 100%;      /* equals max image height */
    width: 160px;
    white-space: nowrap; /* this is required unless you put the helper span closely near the img */
    text-align: center;
    display:inline-block;
    margin-left:50px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
select{
  position: relative;
}
img {
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}

table {
    table-layout:fixed;
    word-wrap: break-word;
    /* border-collapse: collapse; */
    width: 100%;
}

th, td {
  text-align: center;
  /* margin: auto; */
}
tr{
  text-align: center;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
  width:100%;
  text-align: center;
  background-color: #333;
  color: white;
}

.raisedbox {
	padding: 10px;
  border: 1px solid #333;
	box-shadow:  -1px -1px #aaa, - 2px -2px #aaa
}
h4{
  text-align: center;
}
/*
.file-field.medium .file-path-wrapper {
  height: 3rem; }
  .file-field.medium .file-path-wrapper .file-path {
    height: 2.8rem; }

    input[type="file"] {
    display: none;
}
*/

.file_element{
  display:none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
