<html lang="en" style="overflow-y: scroll;">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="/stylesheet.css"/>
    <link rel="stylesheet" href="/bootstrap.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <div id="myProgress">
    <div style="height:2px; width:0%;" id="myBar"></div>
  </div>
  <header class="header" style="background-color:#333E47;">
    <nav class="navbar navbar-default" role="navigation" style="background-color:#333E47;">
      <div class="navbar-header">
        <a class="navbar-brand" href="" style="font-size:30px; color:#ffffff; min-height:80px; margin:0 auto; vertical-align:middle; padding-top:30px;">Innovation Tracker</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a class="navbar-brand" href="" style="font-size:30px; color:#ffffff; min-height:80px;"><span><img src="/zebra.png" alt="zebra"/></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-brand" href="#" style="font-size:30px; color:#333E47; min-height:80px; margin:0 auto; vertical-align:middle; padding-top:22px;"><span><form action="/logout" method="POST">
              <button style="font-size: 20px;" type="submit" class="btn btn-light">Logout</button>
            </form></span></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <body>
    <div style="background-color:#878783 ; height:2px;"></div>
    <br>
    <br>
    <div style="width:100%; text-align:center;">
      <!--Center Piece with rounded edges -->
      <div style="width:56%; margin:0 auto; border: #333 1px solid; border-radius:15px;">
        <br>
        <!--Content Div with spacing from edges -->
        <div style="width:80%; margin:0 auto;">
          <!--Unorderd list of header tabs -->
          <ul class="nav nav-tabs" id="headerTabs" role="tablist">
            <li id="upload_csv_tab" class="nav-item active">
              <a class="nav-link" id="uploadCsv-tab" data-toggle="tab" href="#upload_csv" role="tab" aria-controls="uploadCsv" aria-selected="true">Upload New Employee List</a>
            </li>
            <li>
              <a class="nav-link" id="editAccomplishments-tab" data-toggle="tab" href="#edit_accomplishments" role="tab" aria-controls="editAccomplishments" aria-selected="false"> Edit Accomplishments </a>
            </li>
            <li id="change_credentials_tab" class="nav-item">
              <a class="nav-link" id="changeCredentials-tab" data-toggle="tab" href="#change_credentials" role="tab" aria-controls="changeCredentials" aria-selected="false">Update Credentials</a>
            </li>

          </ul>
          <!-- Div containing the content -->
          <div class="tab-content" id="headerTabContent">
            <!-- Add Points tab content tab -->
            <div class="tab-pane fade active in " id="upload_csv" role="tabpanel" aria-labelledby="uploadCsv-tab" >
              <div style="width:100%; margin:0 auto;">
                <br>
                <!-- Heading giving the user directions -->
                <h5 style="color:#333; text-align:center;">Upload an excel file containing current Zebra Employees and click "Submit" to update the current database.</h5></br>
                <!-- Creating the form for the user -->
                <form action="/add_csv" method="POST">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <label for="file-upload" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i>Select CSV File
                      </label>
                      <input id="file-upload" class="file_element" style="visibility:hidden;"type="file"/>
                      <label id="file_name"></label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary">Submit File</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="edit_accomplishments" role="tabpanel" aria-labelledby="editAccomplishments-tab" >
              <div style="width:100%; margin:0 auto;">
                <br>
                <!-- Heading giving the user directions -->
                <div class="form-group row">
                  <label for="newDesc" class="col-sm-4 col-form-label">Description</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="newDesc" name="newDesc" placeholder="Filed for a new Patent">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="newPoints" class="col-sm-4 col-form-label">Point Value</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" id="newPoints" name="newPoints" placeholder="4">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-12">
                    <!-- <input type="submit" onclick="changePass()" value="Change Pass"/> -->
                    <button type="submit" class="btn btn-primary" onclick="insertAccomp()">Add Accomplishment</button>
                    <br>
                    <div id="AcomplishmentTable">

                    </div>
                  </div>
                </div>
                <br>
              </div>
            </div>

            <div class="tab-pane fade" id="change_credentials" role="tabpanel" aria-labelledby="changeCredentials-tab" >
              <div style="width:100%; margin:0 auto;">
                <br>
                <!-- Heading giving the user directions -->
                <h5 style="color:#333; text-align:center;">Please enter your current password and the new password.</h5></br>
                <!-- Creating the form for the user -->
                  <div class="form-group row">
                    <label for="currPassword" class="col-sm-4 col-form-label">Current Password</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="currPassword" name="currPassword" placeholder="Current Password">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="newPassword" class="col-sm-4 col-form-label">New Password</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="repeatPassword" class="col-sm-4 col-form-label">Repeat New Password</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" placeholder="Repeat New Password">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <!-- <input type="submit" onclick="changePass()" value="Change Pass"/> -->
                      <button type="submit" class="btn btn-primary" onclick="changePass()">Change Password</button>
                    </div>
                  </div>
                  <br>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  jQuery("input#file-upload").change(function () {
      $( "label#file_name" ).replaceWith( "<label id='file_name'>Current File Selected : " + jQuery(this).val().replace("C:\\fakepath\\", "") + "</label>" );
  });

  window.onload = function(){
    loadAccomps();
  }

  function resetPeriod(){
    var name = document.getElementById("period_name").value;

    $.ajax({
      type: "POST",
      url: "/resetTables",
      data: { "periodName": name
     },
      cache: false,
      success: function(response){
        if(response == "Failure"){
          alert("Error Occurred");
          return true;
        }
        else{
          alert("Successfully Executed");
          return true;
        }
      }
    });
    return false;
  }

  function changePass(){
    var currPass = document.getElementById("currPassword").value;
    var newPass = document.getElementById("newPassword").value;
    var repeatPass = document.getElementById("repeatPassword").value;

    $.ajax({
      type: "POST",
      url: "/updatePass",
      data: {
        "currPass": currPass,
        "newPass": newPass,
        "repeatPass": repeatPass
      },
      cache: false,
      success: function(response){
        if(response == "FailureCurrent"){
          alert("Current Password Incorrect");
          return true;
          //window.location.replace("/verifyLogin");
        }
        else if(response == "FailureRepeat"){
          alert("New Passwords did not match");
          return true;
          // window.location.replace("/verifyLogin");
        }
        else if(response == "length"){
          alert("Password Length not long enough");
          return true;
        }
        else{
          alert("Password Changed Successfully");
          return true;
          // window.location.replace("/verifyLogin");
        }
      }

    });
    return false;
  }

  function loadAccomps(){
    $.ajax({
      type: "POST",
      url: "/deleteAccomplishmentsTable",
      cache:false,
      success: function(response){
        document.getElementById('AcomplishmentTable').innerHTML = response;
      }
    });
  }
  function deleteAccomplishment(id){
    $.ajax({
      type: "POST",
      url: "/deleteAccomplishments",
      data: {
        "ID": id
      },
      cache: false,
      success: function(response){
        if(response){
          loadAccomps();
          alert("Successfully Deleted");
        }
        else{
          alert("Error Deleting");
        }
      }
    });
  }
  function insertAccomp(){
    var desc = document.getElementById('newDesc').value;
    var points = document.getElementById('newPoints').value;

    $.ajax({
      type: "POST",
      url: "/addAccomplishments",
      data: {
        "DESCRIPTION": desc,
        "POINTS": points
      },
      cache: false,
      success: function(response){
        if(response){
          loadAccomps();
          alert("Accomplishment Added Successfully");
        }
        else{
          alert("Error Adding Accomplishment");
        }
      }
    });
  }
  </script>
</html>
