<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="../../public/updatedStyleSheet.css"/>
    <link rel="stylesheet" href="../../public/bootstrap.css"/>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <header class="header">
    <div class=frame>
      <span class="helper"></span><img srcset="/updatedZebra.png" alt="null"/>
    </div>
    <div class="header_text">
      <h1 class="header_h1">Innovation Tracker</h1>
    </div>
  </header>

  <body>
    <br>
    <br>
    <p>Have some fields in here - temporary loading page to check whether or not the login system works</p>
  </body>

</html>
