<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="../../public/updatedStyleSheet.css"/>
    <link rel="stylesheet" href="../../public/bootstrap.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <header class="header">
    <div class=frame>
      <span class="helper"></span><img srcset="../../public/updatedZebra.png" alt="null"/>
    </div>
    <div class="header_text">
      <h1 class="header_h1">Innovation Tracker</h1>
    </div>
  </header>

  <body>
    <br>
    <br>
    <div style="width:100%; text-align:center;">
      <!--Center Piece with rounded edges -->
      <div style="width:50%; margin:0 auto; border: #333 1px solid; border-radius:15px;">
        <br>
        <!--Content Div with spacing from edges -->
        <div style="width:80%; margin:0 auto;">
          <!--Unorderd list of header tabs -->
          <ul class="nav nav-tabs" id="headerTabs" role="tablist">
            <li id="upload_csv_tab" class="nav-item active">
              <a class="nav-link" id="uploadCsv-tab" data-toggle="tab" href="#upload_csv" role="tab" aria-controls="uploadCsv" aria-selected="true">Upload New Employee List</a>
            </li>
            <li id="reset_points_tab" class="nav-item">
              <a class="nav-link" id="resetPoints-tab" data-toggle="tab" href="#reset_points" role="tab" aria-controls="resetPoints" aria-selected="false">Reset Innovation Points</a>
            </li>
            <li id="change_credentials_tab" class="nav-item">
              <a class="nav-link" id="changeCredentials-tab" data-toggle="tab" href="#change_credentials" role="tab" aria-controls="changeCredentials" aria-selected="false">Update Credentials</a>
            </li>
          </ul>
          <!-- Div containing the content -->
          <div class="tab-content" id="headerTabContent">
            <!-- Add Points tab content tab -->
            <div class="tab-pane fade active in " id="upload_csv" role="tabpanel" aria-labelledby="uploadCsv-tab" >
              <div style="width:100%; margin:0 auto;">
                <br>
                <!-- Heading giving the user directions -->
                <h5 style="color:#333; text-align:center;">Upload an excel file containing current Zebra Employees and click "Submit" to update the current database.</h5></br>
                <!-- Creating the form for the user -->
                <form>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <label for="file-upload" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i>Select CSV File
                      </label>
                      <input id="file-upload" class="file_element" style="visibility:hidden;"type="file"/>
                      <label id="file_name"></label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary">Submit File</button>
                    </div>
                  </div>
                </form>
                <!--
                <form class="md-form" action="#">
                    <div class="file-field medium">
                        <div class="btn btn-light-blue float-left">
                            <span>Choose files</span>
                            <input type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                        </div>
                    </div>
                </form>


                <form id="form" value="form">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" multiple>
                    <label class="custom-file-label" for="customFile">Select CSV</label>
                  </div>
                  <input style="color:#333; display:block; margin:auto;" onclick="addPoints()" type="button" value="Submit"></input>
                </form>
              -->
              </div>
            </div>

            <!-- Add Points tab content tab -->
            <div class="tab-pane fade" id="reset_points" role="tabpanel" aria-labelledby="resetPoints-tab" >
              <div style="width:100%; margin:0 auto;">
                <br>
                <!-- Creating the form for the user -->
                <form id="form" value="form">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <label for="repeatPassword" class="col-sm-12 col-form-label">In order to reset the current point period, press the "RESET" button below. This will disable employees from
                        updating their innovation points for this period. Employees will be able to view their innovation points from the current period when they enter their id under the View Points tab.</label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-danger" id="resetButton">RESET</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="change_credentials" role="tabpanel" aria-labelledby="changeCredentials-tab" >
              <div style="width:100%; margin:0 auto;">
                <br>
                <!-- Heading giving the user directions -->
                <h5 style="color:#333; text-align:center;">Please enter your current password and the new password.</h5></br>
                <!-- Creating the form for the user -->
                <form id="form" value="form">
                  <div class="form-group row">
                    <label for="currPassword" class="col-sm-4 col-form-label">Current Password</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="currPassword" placeholder="Current Password">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="newPassword" class="col-sm-4 col-form-label">New Password</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="newPassword" placeholder="New Password">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="repeatPassword" class="col-sm-4 col-form-label">Repeat New Password</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="repeatPassword" placeholder="Repeat New Password">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </div>
                  <br>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  jQuery("input#file-upload").change(function () {
      $( "label#file_name" ).replaceWith( "<label id='file_name'>Current File Selected : " + jQuery(this).val().replace("C:\\fakepath\\", "") + "</label>" );
  });
  </script>
</html>
