
<!DOCTYPE html>

<html lang="en" style="overflow-y: scroll;">

  <head>
    <!-- TYPE IN INTERNS2018 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="/stylesheet.css"/>
    <link rel="stylesheet" href="/bootstrap.css"/>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" href="/favicon.ico">
    <title>Zebra Innovation Tracker</title>
  </head>

  <body>

  <div id="myProgress">
    <div style="height:2px; width:0%;" id="myBar"></div>
  </div>

  <header class="header" style="background-color:#333E47;">
    <nav class="navbar navbar-default" style="background-color:#333E47;">

      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="font-size:30px; color:#ffffff; min-height:80px; margin:0 auto; vertical-align:middle; padding-top:30px;">Innovation Tracker</a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a class="navbar-brand" href="/" style="font-size:30px; color:#ffffff; min-height:80px;"><span><img src="/zebra.png" alt="zebra"/></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li data-toggle='modal' data-target='#instructionAlert' class="navbar-brand" style="font-size:15px; color:#ffffff; min-width:80px; min-height:80px; cursor:pointer;"><span><img src="/info.png" style="padding-left:20px; padding-right:0px; padding-top:10px; padding-bottom:10px; cursor:pointer; min-width:40px; min-height:40px;" alt="info"/>Instructions</span></li>
        </ul>
      </div>
    </nav>
  </header>

    <div style="background-color:#878783 ; height:2px;"></div>
    <br>
    <br>
    <div style="width:100%; text-align:center;">
      <!--Center Piece with rounded edges -->
      <div style="width:60%; min-height: 500px; margin:auto; border: #333E47 1px solid; border-radius:15px;">
        <br>
        <!--Content Div with spacing from edges -->
        <div style="width:80%; margin:auto;">
          <!--Unorderd list of header tabs -->
          <ul class="nav nav-tabs" id="headerTabs" role="tablist">
            <!-- Add Points Tab -->
            <li id="add_points_tab" class="nav-item active">
              <a class="nav-link" id="addPoints-tab" data-toggle="tab" href="#add_points" role="tab" aria-controls="add_points" aria-selected="true" onclick="findInformation()">Add Points</a>
            </li>
            <!-- Viewing Points Tab -->
            <li id="view_points_tab" class="nav-item">
              <a class="nav-link" id="viewPoints-tab" data-toggle="tab" href="#view_points" role="tab" aria-controls="view_points" aria-selected="false">View Points</a>
            </li>
            <!-- Leaderboard Tab -->
            <li id="leaderboard_tab" class="nav-item">
              <a class="nav-link" id="leaderboard-tab" onclick="loadLeaderboard()" data-toggle="tab" href="#leaderboard" role="tab" aria-controls="leaderboard" aria-selected="false">Leaderboard</a>
            </li>
          </ul>
          <!-- Div containing the content -->
          <div class="tab-content" id="headerTabContent">
            <!-- Add Points tab content tab -->
            <div class="tab-pane fade active in " id="add_points" role="tabpanel" style="min-height:50%;" aria-labelledby="addPoints-tab" >
              <div style="width:100%; margin:0 auto;">
                <br>
                <div class="form-row">
                  <div class="form-group col-md-6" style="text-align:left;">
                    <label for="core_id">Core ID / Emp ID:</label>
                    <input type="text" class="form-control" id="core_id" name="core_id" style="text-transform:uppercase;">
                  </div>
                  <div class="form-group col-md-6 no-border" style="text-align:left;">
                    <label style="visibility: hidden;" class="control-label">Valid</label>
                    <h4 style="visibility: hidden; text-align:left; vertical-align:middle" id="valid">Invalid ID</h4>
                    <!-- <input style="visibility: hidden; border:0; pointer-events: none;" type="text" ng-class="{'no-border': toggle}" class="form-control no-border" id="valid" name="valid"> -->
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6" style="text-align:left;">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" readonly>
                  </div>
                  <div class="form-group col-md-6" style="text-align:left;">
                    <label for="manager">Manager:</label>
                    <input type="text" class="form-control" id="manager" name="manager" readonly>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12" style="text-align:left;">
                    <label>Select an Accomplishment</label>
                    <div id="accompList">

                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12" style="text-align:left;">
                    <label for="desc">Description (500 character limit)</label>
                    <textarea style="resize:none;" class="form-control" id="desc" name="desc" rows="3" maxlength="500"></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-12">
                    <button id="submitPoints" type="submit" onclick="addPoints()" class="btn btn-primary">Submit</button>
                  </div>
                </div>
                <br>

              </div>
            </div>

            <!-- View Points tab content tab -->
            <div class="tab-pane fade" id="view_points" style="min-height:50%;" role="tabpanel" aria-labelledby="viewPoints-tab">
              <br>
              <div class="form-row">
                <div class="form-group col-md-6" style="text-align:left;">
                  <label for="core_id_view">Core ID / Emp ID:</label>
                  <input style="text-transform:uppercase;" type="text" class="form-control" id="core_id_view" name="core_id_view">
                </div>
                <div class="form-group col-md-6" style="text-align:left;">
                  <label for="periods">Choose a period:</label>
                  <select class="form-control" id="periods" name="periods"></select>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <button class="btn btn-primary" onclick="viewPoints()" id="viewPointButton" type="submit">Submit</button>
                </div>
              </div>
              <br><br><br>
              <div id="userInformation"></div>
              <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <!-- <h5 class="mb-0"> -->
                      <a class="btn btn-link" id="btnCollapseOne" style="width:100%; color:black; visibility: hidden; border:solid black 1px;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Your Accomplishments
                      </a>
                    <!-- </h5> -->
                  </div>

                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body" style="visibility: hidden; text-align:center; " > <!-- MAKE THIS THE SAME AS THE OTHER TABLES -->

                      <div id="userTable" style="border:solid black 1px;"></div>

                    </div>
                  </div>
                </div>
                <div class="modal fade" id="deleteAlert" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button id="closeModal" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Are you sure you want to delete?</h4>
                      </div>
                      <div class="modal-body">
                          <button type="Button" class="btn btn-primary" data-toggle="modal" id="deleteConfirm">Yes, Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              <br>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <!-- <h5 class="mb-0"> -->
                      <a class="btn btn-link collapsed" id="btnCollapseTwo" style="color:black; visibility:hidden; border:solid black 1px; width:100%;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Your Group
                      </a>
                    <!-- </h5> -->
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">

                      <!-- Below is the div that contains the list of employees who are under the same manager -->
                      <div style="visibility: hidden; border:solid black 1px;" id="groupList"></div>

                    </div>
                  </div>
                </div>
              <br>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <!-- <h5 class="mb-0"> -->
                      <a class="btn btn-link collapsed" id="btnCollapseThree" style="border:solid black 1px; width:100%; color:black; visibility: hidden;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Your Employees
                      </a>
                    <!-- </h5> -->
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">

                      <!-- Below is the div that contains the list of employees for the entered manager -->
                      <div style="color:black; visibility: hidden; border:solid black 1px;" id="employeeList"></div>

                      <br>

                      <!-- Below is the button and div that correspond to the pie chart -->
                      <button style="visibility: hidden;" type="Button" class="btn btn-primary" data-toggle="modal" data-target="#myChart" id="chartDisplayButton">Display Chart</button>
                      <div class="modal fade" id="myChart" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Below is the graph representing your employees progress.</h4>
                            </div>
                            <div class="modal-body">
                              <div id="pieChart" style="height: 0; width: 100%; visibility:hidden;"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br><br><br><br>
            </div>

            <!-- Leaderboard tab content tab -->
            <div class="tab-pane fade" id="leaderboard" role="tabpanel" style="min-height:70%;" aria-labelledby="leaderboard-tab" >
              <div style="width:100%; margin:0 auto;">
                <!-- Below is the div that contains the employees with the top five innovation scores -->
                <div class="list-group" id="leaderboardTable" style="min-height:80%;"></div>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="modal fade" id="instructionAlert" role="dialog">
        <div class="modal-dialog" style="width:50%;">
          <div class="modal-content">
            <div class="modal-header">
              <h3 style="width:90%; text-align:center; display:inline-block;">How it works</h3>
              <button id="closeInstructionModal" style="display:inline-block;" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div id="instructionsTab">
                <!--Center Piece with rounded edges -->
                <div style="width:90%; margin:auto; border: #333E47 1px solid; border-radius:15px;">
                  <!-- Div containing the content -->
                  <div class="tab-content" id="headerTabContent2">
                    <div style="width:100%; margin:0 auto;">
                      <div style="width:100%;">
                        <div style="width:48%; display:inline-block;">
                          <br>
                          <ul style="list-style-type:disc; text-align:left; vertical-align:top;">
                            <li><b>How to add points to your innovation score.</b>
                              <ul>
                                <li>Complete the form on the Add Points tab by entering your CoreID, selecting an accomplishment, then entering a short description of the activity you completed.</li>
                                <li>Press the "Submit" button, this will bring you to the View Points tab whichs displays information about you, your group and your employees.</li>
                              </ul>
                            </li>
                            <li><b>To view your current innovation score.</b>
                              <ul>
                                <li>Click the "View Points" tab.</li>
                                <li>From here, enter your CoreID, select the period you would like to view information from and click "Submit".</li>
                              </ul>
                            </li>
                            <li><b>To remove previously added accomplishments</b>
                              <ul>
                                <li>After entering your CoreID on the View Points tab, you can remove an accomplishment by clicking the delete icon next to the accomplishment.</li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                        <div style="width:48%; display:inline-block; vertical-align:top;">
                          <br>
                          <ul style="list-style-type:disc; text-align:left;">
                            <li><b>To view other employees information.</b>
                              <ul>
                                <li>You can view your groups information by opening the "Your Group" dropdown which displays a list of their names. Next to their name will be a search icon which redirects you to their information.</li>
                                <li>Alongside that, you can also view your employees by opening the "Your Employees" dropdown which displays a list of employees who report to you, and a pie chart representing how well your employees are performing.</li>
                              </ul>
                            </li>
                            <li><b>To see how you compare against other employees.</b>
                              <ul>
                                <li>Simply visit the "Leaderboard" tab and hover over the employees to see their current score. This score is constantly updated so keep trying to get as many innovation points as possible!</li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/indexJS.js"></script>
    <script src="/canvasjs.min.js"></script>

  </body>

</html>
