<html>
  <head>
    <link rel="stylesheet" href="/styles.css"/>
  </head>
  <body>

    <div class="header">
      <h1>Innovation Tracker</h1>
    </div>
    <div class="topnav">
      <img src="https://lh3.googleusercontent.com/81c4swuKkgfnGn5Kifo7tSSftT-ncQ87G-K4iFSJTNvmmgPCNfVeI7MsU-rhQOt7ON2-=s170" alt="Zebra Logo"></img>
      <a href="/ViewPoints">Add Points</a>
      <a href="/ReviewPoints">Review Your Points</a>
    </div>
    <div class="content">
    </div>
  </body>
</html>
