<html lang="en" style="overflow-y: scroll;">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="/stylesheet.css"/>
    <link rel="stylesheet" href="/bootstrap.css"/>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" href="/favicon.ico">
  </head>
  <div id="myProgress">
    <div style="height:2px; width:0%;" id="myBar"></div>
  </div>

  <header class="header" style="background-color:#333E47;">
    <nav class="navbar navbar-default" role="navigation" style="background-color:#333E47;">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="font-size:30px; color:#ffffff; min-height:80px; margin:0 auto; vertical-align:middle; padding-top:30px;">Innovation Tracker</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a class="navbar-brand" href="/" style="font-size:30px; color:#ffffff; min-height:80px;"><span><img src="/zebra.png" alt="zebra"/></span></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <body>
    <div style="background-color:#878783 ; height:2px;"></div>
    <br>
    <br>
    <div style="width:100%; text-align:center;">
      <!--Center Piece with rounded edges -->
      <div style="width:60%; margin:auto; border: #333E47 1px solid; border-radius:15px;">
        <br>
        <!--Content Div with spacing from edges -->
        <div style="width:80%; margin:auto;">
          <!--Unorderd list of header tabs -->
          <ul class="nav nav-tabs" id="headerTabs" role="tablist">
            <!-- Add Points Tab -->
            <li id="add_points_tab" class="nav-item active">
              <a class="nav-link" id="addPoints-tab" data-toggle="tab" href="#add_points" role="tab" aria-controls="addPoints" aria-selected="true">Add Points</a>
            </li>
            <!-- Viewing Points Tab -->
            <li id="view_points_tab" class="nav-item">
              <a class="nav-link" id="viewPoints-tab" data-toggle="tab" href="#view_points" role="tab" aria-controls="viewPoints" aria-selected="false">View Points</a>
            </li>
            <!-- Leaderboard Tab -->
            <li id="leaderboard_tab" class="nav-item">
              <a class="nav-link" id="leaderboard-tab" onclick="loadLeaderboard()" data-toggle="tab" href="#leaderboard" role="tab" aria-controls="leaderboard" aria-selected="false">Leaderboard</a>
            </li>
          </ul>
          <!-- Div containing the content -->
          <div class="tab-content" id="headerTabContent">
            <!-- Add Points tab content tab -->
            <div class="tab-pane fade active in " id="add_points" role="tabpanel" style="min-height:50%;" aria-labelledby="addPoints-tab" >
              <div style="width:100%; margin:0 auto;">
                <br>
                <div class="form-row">
                  <div class="form-group col-md-6" style="text-align:left;">
                    <label for="core_id">Core ID:</label>
                    <input type="text" class="form-control" id="core_id" name="core_id" style="text-transform:uppercase;">
                  </div>
                  <div class="form-group col-md-6 no-border" style="text-align:left;">
                    <label style="visibility: hidden;" class="control-label" for="valid">Valid</label>
                    <h4 style="visibility: hidden; text-align:left; vertical-align:middle" id="valid" name="valid">Invalid ID</h4>
                    <!-- <input style="visibility: hidden; border:0; pointer-events: none;" type="text" ng-class="{'no-border': toggle}" class="form-control no-border" id="valid" name="valid"> -->
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6" style="text-align:left;">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" readonly>
                  </div>
                  <div class="form-group col-md-6" style="text-align:left;">
                    <label for="manager">Manager:</label>
                    <input type="text" class="form-control" id="manager" name="manager" readonly>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12" style="text-align:left;">
                    <label for="accomplishment">Select an Accomplishment</label>
                    <div id="accompList">

                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12" style="text-align:left;">
                    <label for="desc">Description</label>
                    <textarea style="resize:none;" class="form-control" id="desc" name="desc" rows="3" maxlength="300"></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-12">
                    <button id="submitPoints"type="submit" onclick="addPoints()" class="btn btn-primary">Submit</button>
                  </div>
                </div>
                <!-- <div class="form-row">
                  <div class="form-group col-md-12" style="text-align:left;">
                    <input type="submit" onclick="addPoints()" class="btn btn-primary"></input>
                  </div>
                </div> -->
                <br>

              </div>
            </div>

            <!-- View Points tab content tab -->
            <div class="tab-pane fade" id="view_points" style="min-height:50%;" role="tabpanel" aria-labelledby="viewPoints-tab">
              <br>
              <div class="form-row">
                <div class="form-group col-md-6" style="text-align:left;">
                  <label for="core_id_view">Core ID:</label>
                  <input style="text-transform:uppercase;" type="text" class="form-control" id="core_id_view" name="core_id_view">
                </div>
                <div class="form-group col-md-6" style="text-align:left;">
                  <label for="periods">Choose a period:</label>
                  <select class="form-control" id="periods" name="periods"></select>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <a class="btn btn-primary" onclick="viewPoints()" id="viewPointButton" type="submit">Submit</a>
                </div>
              </div>
              <br><br><br>
              <div id="userInformation"></div>
              <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <!-- <h5 class="mb-0"> -->
                      <a class="btn btn-link" id="btnCollapseOne" style="width:100%; color:black; visibility: hidden; border:solid black 1px;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Your Accomplishments
                      </a>
                    <!-- </h5> -->
                  </div>

                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body" style="visibility: hidden; text-align:center; " > <!-- MAKE THIS THE SAME AS THE OTHER TABLES -->

                      <div id="userTable" style="border:solid black 1px;"></div>

                    </div>
                  </div>
                </div>
                <div class="modal fade" id="deleteAlert" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button id="closeModal" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Are you sure you want to delete?</h4>
                      </div>
                      <div class="modal-body">
                          <button type="Button" class="btn btn-primary" data-toggle="modal" id="deleteConfirm">Yes, Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </br>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <!-- <h5 class="mb-0"> -->
                      <a class="btn btn-link collapsed" id="btnCollapseTwo" style="color:black; visibility:hidden; border:solid black 1px; width:100%;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Your Group
                      </a>
                    <!-- </h5> -->
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">

                      <!-- Below is the div that contains the list of employees who are under the same manager -->
                      <div style="visibility: hidden; border:solid black 1px;" id="groupList"></div>

                    </div>
                  </div>
                </div>
              </br>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <!-- <h5 class="mb-0"> -->
                      <a class="btn btn-link collapsed" id="btnCollapseThree" style="border:solid black 1px; width:100%; color:black; visibility: hidden;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Your Employees
                      </a>
                    <!-- </h5> -->
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">

                      <!-- Below is the div that contains the list of employees for the entered manager -->
                      <div style="color:black; visibility: hidden; border:solid black 1px;" id="employeeList"></div>

                      <br>

                      <!-- Below is the button and div that correspond to the pie chart -->
                      <button style="visibility: hidden;" type="Button" class="btn btn-primary" data-toggle="modal" data-target="#myChart" id="chartDisplayButton">Display Chart</button>
                      <div class="modal fade" id="myChart" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Below is the graph representing your employees progress.</h4>
                            </div>
                            <div class="modal-body">
                              <div id="pieChart" style="height: 0; width: 100%; visibility:hidden;"></div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
              <br><br><br><br>
            </div>

            <!-- Leaderboard tab content tab -->
            <div class="tab-pane fade" id="leaderboard" role="tabpanel" style="min-height:50%;" aria-labelledby="leaderboard-tab" >
              <div style="width:100%; margin:0 auto;">
                <br>
                <!-- Below is the div that contains the employees with the top five innovation scores -->
                <div class="list-group" id="leaderboardTable" style="visibility:hidden;"></div>
                <br>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/1.0.10/dist/bootstrap-validate.js"></script> -->
  <script>
  var chartAnimation= true;
  // bootstrapValidate('#core_id', 'min:5:Enter at least 5 Characters');

  //Functions that occur when the window is reloaded - Loading the periods and accomplishments list
  window.onload = function(){
    $.ajax({
      type: "POST",
      url: "/getPeriods",
      cache: false,
      success: function(response){
        document.getElementById("periods").innerHTML = response;
      }
    });

    $.ajax({
      type: "POST",
      url: "/getAccomplishments",
      cache: false,
      success: function(response){
        document.getElementById("accompList").innerHTML = response;
      }
    });
  }

  function loadLeaderboard(){
    setTimeout(function(){
      $.ajax({
        type: "POST",
        url: "/leaderboard",
        cache: false,
        success: function(response){

          CanvasJS.addColorSet("goldSilverBronze", [ "red","#014D65","#b87333","silver","gold"]);
          var chart = new CanvasJS.Chart("leaderboardTable", {
            width: 0,
          	animationEnabled: chartAnimation,
            colorSet:"goldSilverBronze",
          	title:{
          		text:"Employees with the Highest Points"
          	},
          	axisX:{
              ticks: {
                min: 0,
                stepSize: 1
              },
              interval: 1
          	},
          	axisY2:{
              ticks: {
                interval: 1,
                min: 0
              },
          		gridColor: "rgba(1,77,101,.1)",
          		title: "Number of Points"
          	},
          	data: [{
          		type: "bar",
          		name: "companies",
          		axisYType: "secondary",
          		dataPoints: [
                { y: response[4][0], label: response[4][1] },
                { y: response[3][0], label: response[3][1] },
                { y: response[2][0], label: response[2][1] },
                { y: response[1][0], label: response[1][1] },
          			{ y: response[0][0], label: response[0][1] },
              ]
            }]
            });
            document.getElementById("leaderboardTable").style.visibility = "visible";
            chart.render();
            chartAnimation = false;
          }
      });
    }, 500);
  }

  /* Buttons are clicked when enter is pressed */
  document.querySelector("#add_points").addEventListener("keyup", event => {
    if(event.key !== "Enter") return;
    document.querySelector("#submitPoints").click();
    event.preventDefault();
  });

  document.querySelector("#view_points").addEventListener("keyup", event => {
    if(event.key !== "Enter") return;
    document.querySelector("#viewPointButton").click();
    event.preventDefault();
  });


  $('#core_id').keypress(function(e) {
    if(e.which == '13') {
      //Enter key just got pressed
      if($('#core_id').val()){
        var elem = document.getElementById("myBar");
        if(elem.style.width.substring(0,elem.style.width.length-1) == "0")
          typingTimer = setTimeout(findInformation, 0);
      }else{
        document.getElementById("valid").style.visibility = "hidden";
        document.getElementById("name").value = "";
        document.getElementById("manager").value = "";
      }
    }
  });

  //Checks when a user leaves a specified element
  $('#core_id').focusout(function(){
    if($('#core_id').val()){
      var elem = document.getElementById("myBar");
      if(elem.style.width.substring(0,elem.style.width.length-1) == "0")
        findInformation();
    }else{
      document.getElementById("valid").style.visibility = "hidden";
      document.getElementById("name").value = "";
      document.getElementById("manager").value = "";
    }
  });


  //Function to find the manager and input the manager into the text box
  function findInformation(){
    //Loads the progress bar across the top of the screen
    var elem = document.getElementById("myBar");
    var width = 0;
    var id = setInterval(frame, 0);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        elem.style.width = "0%";
      } else {
        width++;
        elem.style.width = width + '%';
      }
    }
    //Performs the search
    var core_id = document.getElementById("core_id").value;
    $.ajax({
      type: "POST",
      url: "/findInformation",
      data: { "CORE_ID": core_id },
      cache: false,
      success: function(response){
        if(response[0] == "Invalid ID")
        {
          document.getElementById("valid").style.visibility = "visible";
          document.getElementById("name").value = "";
          document.getElementById("manager").value = "";
        }
        else{
          document.getElementById("valid").style.visibility = "hidden";
          document.getElementById("name").value = response[0];
          document.getElementById("manager").value = response[1];
        }

      }
    });
  }

  //On click action when the submit button is pressed in the view page
  function viewPoints(){
    //Temporarily disable the button so the user can't click it again
    chartAnimation = true;
    var btn = document.getElementById("viewPointButton");
    btn.disabled = true;
    var core_id = document.getElementById("core_id_view").value;
    var period = document.getElementById("periods").value;
    $.ajax({
      type: "POST",
      url: "/viewPoints",
      data: { "CORE_ID": core_id,
              "PERIOD": period
      },
      cache: false,
      success: function(response){
        if(response[0] == "invalid")
        {
          document.getElementById("userTable").innerHTML = "";
          document.getElementById("groupList").innerHTML = "";
          document.getElementById("employeeList").innerHTML = "";
          document.getElementById("userTable").style.visibility ="hidden";
          document.getElementById("btnCollapseOne").style.visibility ="hidden";
          document.getElementById("groupList").style.visibility ="hidden";
          document.getElementById("btnCollapseTwo").style.visibility ="hidden";
          document.getElementById("employeeList").style.visibility ="hidden";
          document.getElementById("btnCollapseThree").style.visibility ="hidden";
          document.getElementById("chartDisplayButton").style.visibility ="hidden";
          document.getElementById("pieChart").innerHTML = "";
          document.getElementById("pieChart").style.visibility ="hidden";
          document.getElementById("pieChart").style.height ="0px";
          document.getElementById("userInformation").innerHTML = "";
          setTimeout(alert("Please enter a valid Employee ID"),1000);
        }
        else{
          document.getElementById("userTable").innerHTML = response[0];
          document.getElementById("userTable").style.visibility ="visible";
          document.getElementById("btnCollapseOne").style.visibility ="visible";
          document.getElementById("collapseOne").style = "";
          document.getElementById("userInformation").innerHTML = response[5];


          $("#btnCollapseOne").attr("aria-expanded","true");
          $("#btnCollapseOne").removeClass("collapsed");
          $("#collapseOne").addClass("in");
          $("#collapseOne").attr("aria-expanded","true");

          $("#btnCollapseTwo").attr("aria-expanded","false");
          $("#btnCollapseTwo").addClass("collapsed");
          $("#collapseTwo").removeClass("in");
          $("#collapseTwo").attr("aria-expanded","false");

          $("#btnCollapseThree").attr("aria-expanded","false");
          $("#btnCollapseThree").addClass("collapsed");
          $("#collapseThree").removeClass("in");
          $("#collapseThree").attr("aria-expanded","false");

          if(response[1] != null){
            document.getElementById("groupList").innerHTML = response[1];
            document.getElementById("groupList").style.visibility ="visible";
            document.getElementById("btnCollapseTwo").style.visibility ="visible";
          }
          else{
            document.getElementById("groupList").innerHTML = "";
            document.getElementById("groupList").style.visibility ="hidden";
            document.getElementById("btnCollapseTwo").style.visibility ="hidden";
          }

          if(response[2] != null){
            document.getElementById("employeeList").innerHTML = response[2];
            document.getElementById("employeeList").style.visibility ="visible";
            document.getElementById("btnCollapseThree").style.visibility ="visible";
          }
          else{
            document.getElementById("employeeList").innerHTML = "";
            document.getElementById("employeeList").style.visibility ="hidden";
            document.getElementById("btnCollapseThree").style.visibility ="hidden";
          }
          var total = null;
          var incomplete = null;
          if(response[3] != null && response[4] != null){
            var incomplete = {y: response[3], label: "Points Needed: "};
            var total = {y: response[4], label: "Completed Points: "};
            CanvasJS.addColorSet("redGreen", ["red", "green"]);
            var chart = new CanvasJS.Chart("pieChart", {
            	animationEnabled: true,
              colorSet: "redGreen",
            	title: {
            		text: "Your Employees Progression"
            	},
            	data: [{
            		type: "pie",
            		startAngle: 240,
            		yValueFormatString: "##0 Points",
            		indexLabel: "{label} {y}",
            		dataPoints: [
                  incomplete,
  			          total
            		]
            	}]
            });
            chart.render();
            document.getElementById("chartDisplayButton").style.visibility ="visible";
            document.getElementById("pieChart").style.visibility ="visible";
            document.getElementById("pieChart").style.height ="400px";
          }
          else{
            document.getElementById("chartDisplayButton").style.visibility ="hidden";
            document.getElementById("pieChart").innerHTML = "";
            document.getElementById("pieChart").style.visibility ="hidden";
            document.getElementById("pieChart").style.height ="0px";
          }
          btn.disabled = false;
        }
      }
    });
    return false;
  }

  function removeAcheivement(activityid, accompid){
    document.getElementById('deleteConfirm').onclick = function() {
      $.ajax({
        type: "POST",
        url: "/removeAcheivement",
        data: {
          "ACTIVITYID": activityid,
          "ACCOMPID": accompid
        },
        cache: false,
        success: function(response){
          if(response){
            document.getElementById('closeModal').click();
            viewPoints();
            alert("Successfully Deleted");
          }
          else{
            alert("Error Deleting");
          }
        }
      });
    }
  }

  function addPoints(){
    chartAnimation = true;
    var core_id = document.getElementById("core_id").value;
    var accomplishment = document.getElementById("accomplishment").value;
    var description = document.getElementById("desc").value;
    var manager = document.getElementById("manager").value;
    if(core_id == ""){
      alert("Please enter a Core ID or Employee ID");
    }
    else if(manager == ""){
      alert("Please enter a valid Core ID or Employee ID")
    }
    else if(accomplishment == 1){
      alert("Please select an Accomplishment");
    }
    else if(description == ""){
      alert("Please enter a brief Description of your work");
    }
    else{
      $.ajax({
        type: "POST",
        url: "/addPoints",
        data: { "CORE_ID": core_id,
        "ACCOMPLISHMENT": accomplishment,
        "DESCRIPTION": description,
        "MANAGER": manager
       },
        cache: false,
        success: function(response){
          if(response == "Failure"){

            alert("Error sending Response");
          }
          else{
            document.getElementById("add_points_tab").classList.remove('active');
            document.getElementById("view_points_tab").classList.add('active');
            document.getElementById("add_points").classList.remove('active');
            document.getElementById("add_points").classList.remove('in');
            document.getElementById("view_points").classList.add('active');
            document.getElementById("view_points").classList.add('in');
            document.getElementById("core_id_view").value = core_id;
            document.getElementById("viewPointButton").click();
            document.getElementById("accomplishment").value = "";
            document.getElementById("desc").value = "";
          }
        }
      });
    }

    return false;
  }

  function showMoreDetails(element){
    var id = element.id;
    document.getElementById("core_id_view").value = id;
    document.getElementById("viewPointButton").click();
  }

  </script>
  <script src="/canvasjs.min.js"></script>
</html>
