<html>
  <head>
    <link rel="stylesheet" href="/styles.css"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bootstrap.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <header style="background-color:#333; text-align:center;">
    <!-- style="border-top:0px; border-left:0px; border-right:0px; border-color:#000; border-style:solid;"-->
    <div>
      <!--<img style="display:inline-block;" src="https://lh3.googleusercontent.com/81c4swuKkgfnGn5Kifo7tSSftT-ncQ87G-K4iFSJTNvmmgPCNfVeI7MsU-rhQOt7ON2-=s170" alt="Zebra Logo"></img>-->
      <h1 style="display:inline-block; color:#d6d4d4">Zebra Technologies</h1>
      <br>
    </div>
    <br>
  </header>
  <body>
    <ul class="nav nav-tabs" id="headerTabs" role="tablist">
      <!-- Add Points Tab -->
      <li id="add_points_tab" class="nav-item active">
        <a style="background-color:#333;" class="nav-link" id="addPoints-tab" data-toggle="tab" href="#add_points" role="tab" aria-controls="addPoints" aria-selected="true">Add Points</a>
      </li>

      <!-- Viewing Points Tab -->
      <li id="view_points_tab" class="nav-item">
        <a style="background-color:#333;" class="nav-link" id="viewPoints-tab" data-toggle="tab" href="#view_points" role="tab" aria-controls="viewPoints" aria-selected="false">View Points</a>
      </li>
    </ul>
    <div style="max-height:2px; border-color:#212020; border-style:solid; border-bottom:1px;"></div>
    <div class="tab-content" id="headerTabContent">
      <div style="background-color:#333;" class="tab-pane fade active in " id="add_points" role="tabpanel" aria-labelledby="addPoints-tab" >
        <div style="width:70%; margin:0 auto;">
          <h2 style="color:#ffffff; text-align:center;">ADD POINTS BELOW</h2>
          <form style="text-align:center; color:#fff;" id="form" value="form">
            <div id="core_id_input">
              <h2 style="display:inline-block; margin-top:10; margin-bottom:10; ">Core ID: </h2>
              <h4 style="display:inline-block; color:#333;"><input style="" id="core_id" type="text" name="core_id"></input></h4>
            </div>
            <div id="manager_field">
              <h2 style="display:inline-block; margin-top:10; margin-bottom:10; ">Manager: </h2>
              <h4 style="display:inline-block; color:#333;"><input readonly id="manager" style="" type="text" name="manager"></input></h4>
            </div>
            <div id="accomplishment_input">
              <h2 style="display:inline-block; margin-top:10; margin-bottom:10; ">Select Accomplishment: </h2>
              <h4 style="display:inline-block; color:#333;">
                <select style="color:#333;" id="accomplishment">
                  <option value="1">Choose your Acomplisment</option>
                  <option value="2">Identify a meaningful problem that needs a solution (1)</option>
                  <option value="3">Identify a new product feature for the backlog (1)</option>
                  <option value="4">Attend a Lunch and Learn (1)</option>
                  <option value="5">Submit abstract for ZTS Expo or Srjana (1)</option>
                  <option value="6">Attend a readout from a customer visit (1)</option>
                  <option value="7">Attend JDM Expo, Innovation showcase, Intern project review (1)</option>
                  <option value="8">Peer review an IP disclosure - witness, read and understand (1)</option>
                  <option value="9">Join Eto Techspresso event (1)</option>
                  <option value="10">Take part in brain storming session (2)</option>
                  <option value="11">Help someone get their first patent disclosure submitted (2)</option>
                  <option value="12">Solve a problem and implement the solution (2)</option>
                  <option value="13">Mentoring inventors for success (2)</option>
                  <option value="14">Teach a class, lead a Lunch and Learn, lead a techtalk, or developer conf (2)</option>
                  <option value="15">Organize and run a brainstorming session (2)</option>
                  <option value="16">Visit a customer and present findings (2)</option>
                  <option value="17">Supervise a summer intern on one of their projects (2)</option>
                  <option value="18">Collaborate across BU's for Differentiation and efficency opportunities (2)</option>
                  <option value="19">Submit a peer reviewed IP disclosure (4)</option>
                  <option value="20">Patent Committee decides to "pursue" your submission - Phase 2 (4)</option>
                  <option value="21">[CUSTOM]</option>
              </select>
            </h4>
          </div>
          <div id="description_input">
            <h2 style="display:inline-block; margin-top:10; margin-bottom:10; ">Accomplishment Description: </h2>
            <p style="color:#333;">
              <textarea id="desc" name="description" rows="6" cols="60"></textarea>
            </p>
          </div>
          <input style="color:#333;" onclick="addPoints()" type="button" value="Submit"></input>
          <br><br><br>
          </form>
        </div>
      </div>
      <div class="tab-pane fade" id="view_points" role="tabpanel" aria-labelledby="viewPoints-tab">
        <h2 style="color:#333; text-align:center;">VIEW POINTS BELOW</h2>
        <form style="text-align:center; color:#fff;">
          <div id="core_id_input">
            <h2 style="display:inline-block; margin-top:10; margin-bottom:10; color:#333">Core ID: </h2>
            <form action="viewByID" method="get">
              <h4 style="display:inline-block; color:#333;"><input id="core_id_view" style="" type="text" name="core_id"/></h4>
              <input style="color:#333;" id="viewPointButton" onclick="viewPoints()" type="button" value="Submit"/>
            </form>
            <div id="userTable">
            </div>
          </div>
        </form>

      </div>
    </div>

    <script>
    function viewPoints(){
      var btn = document.getElementById("viewPointButton");
      btn.disabled = true;
      var core_id = document.getElementById("core_id_view").value;
      $.ajax({
        type: "POST",
        url: "/viewPoints",
        data: { "CORE_ID": core_id },
        cache: false,
        success: function(response){
          document.getElementById("userTable").innerHTML = response;
          btn.disabled = false;
        }
      });
      return false;
    }

    function addPoints(){
      var core_id = document.getElementById("core_id").value;
      var accomplishment = document.getElementById("accomplishment").value;
      var description = document.getElementById("desc").value;
      $.ajax({
        type: "POST",
        url: "/addPoints",
        data: { "CORE_ID": core_id,
        "ACCOMPLISHMENT": accomplishment,
        "DESCRIPTION": description
       },
        cache: false,
        success: function(response){
          document.getElementById("add_points_tab").classList.remove('active');
          document.getElementById("view_points_tab").classList.add('active');
          document.getElementById("add_points").classList.remove('active');
          document.getElementById("add_points").classList.remove('in');
          document.getElementById("view_points").classList.add('active');
          document.getElementById("view_points").classList.add('in');
          document.getElementById("core_id_view").value = core_id;
          document.getElementById("viewPointButton").click();
          //alert(html);
        }
      });
      return false;
    }
    </script>

  </body>
</html>
