<!DOCTYPE html>

<html lang="en" style="overflow-y: scroll;">

  <head>
    <!-- TYPE IN INTERNS2018 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="/stylesheet.css"/>
    <link rel="stylesheet" href="/bootstrap.css"/>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" href="/favicon.ico">
    <title>Zebra Innovation Tracker</title>
  </head>

  <body>

    <h1>Browser Unsupported! Please switch to Google Chrome to use the Innovation Tracker.</h1>

  </body>


</html>