<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="/updatedStyleSheet.css"/>
    <link rel="stylesheet" href="/bootstrap.css"/>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <header class="header">
    <div class=frame>
      <span class="helper"></span><img srcset="/updatedZebra.png" alt="null"/>
    </div>
    <div class="header_text">
      <h1 class="header_h1">Innovation Tracker</h1>
    </div>
  </header>

  <body>
    <br>
    <br>
    <div style="width:100%; text-align:center;">
      <!--Center Piece with rounded edges -->
      <div style="width:50%; margin:0 auto; border: #333 1px solid; border-radius:15px;">
        <br>
        <!--Content Div with spacing from edges -->
        <div style="width:80%; margin:0 auto;">
          <!--Unorderd list of header tabs -->
          <ul class="nav nav-tabs" id="headerTabs" role="tablist">
            <!-- Add Points Tab -->
            <li id="add_points_tab" class="nav-item active">
              <a class="nav-link" id="addPoints-tab" data-toggle="tab" href="#add_points" role="tab" aria-controls="addPoints" aria-selected="true">Add Points</a>
            </li>
            <!-- Viewing Points Tab -->
            <li id="view_points_tab" class="nav-item">
              <a class="nav-link" id="viewPoints-tab" data-toggle="tab" href="#view_points" role="tab" aria-controls="viewPoints" aria-selected="false">View Points</a>
            </li>
          </ul>
          <!-- Div containing the content -->
          <div class="tab-content" id="headerTabContent">
            <!-- Add Points tab content tab -->
            <div class="tab-pane fade active in " id="add_points" role="tabpanel" aria-labelledby="addPoints-tab" >
              <div style="width:100%; margin:0 auto;">
                <br>
                <!-- Heading giving the user directions -->
                <h5 style="color:#333; text-align:center;">Complete the fields below and press "Submit" to update your innovation score.</h5></br>
                <!-- Creating the form for the user -->
                <form id="form" value="form">
                  <div style="text-align: right;" id="core_id_input">
                    <h4 style="display:block; margin: auto; color:#333;">Core ID:</h4></br>
                    <h4 style="display:block; color:#333; margin: auto;"><input style="width:300px;" id="core_id" type="text" name="core_id"></input></h4></br>
                  </div>
                  <div style="text-align: right;" id="manager_field">
                    <h4 style="display:block; margin:auto; color:#333;">Manager:</h4></br>
                    <h4 style="display:block; color:#333; margin: auto;"><input readonly style="width:300px;" id="manager" type="text" name="manager"></input></h4></br>
                  </div>
                  <div style="text-align: center;" id="accomplishment_input">
                    <h4 style="display:block; margin:auto; color:#333;">Select Accomplishment: </h4></br>
                    <h5 style="display:block; margin:auto; color:#333;">
                      <select style="color:#333; display:block; margin:auto;" id="accomplishment">
                        <option value="1">Choose your Acomplisment</option>
                        <option value="2">Identify a meaningful problem that needs a solution (1)</option>
                        <option value="3">Identify a new product feature for the backlog (1)</option>
                        <option value="4">Attend a Lunch and Learn (1)</option>
                        <option value="5">Submit abstract for ZTS Expo or Srjana (1)</option>
                        <option value="6">Attend a readout from a customer visit (1)</option>
                        <option value="7">Attend JDM Expo, Innovation showcase, Intern project review (1)</option>
                        <option value="8">Peer review an IP disclosure - witness, read and understand (1)</option>
                        <option value="9">Join Eto Techspresso event (1)</option>
                        <option value="10">Take part in brain storming session (2)</option>
                        <option value="11">Help someone get their first patent disclosure submitted (2)</option>
                        <option value="12">Solve a problem and implement the solution (2)</option>
                        <option value="13">Mentoring inventors for success (2)</option>
                        <option value="14">Teach a class, lead a Lunch and Learn, lead a techtalk, or developer conf (2)</option>
                        <option value="15">Organize and run a brainstorming session (2)</option>
                        <option value="16">Visit a customer and present findings (2)</option>
                        <option value="17">Supervise a summer intern on one of their projects (2)</option>
                        <option value="18">Collaborate across BU's for Differentiation and efficency opportunities (2)</option>
                        <option value="19">Submit a peer reviewed IP disclosure (4)</option>
                        <option value="20">Patent Committee decides to "pursue" your submission - Phase 2 (4)</option>
                        <option value="21">[CUSTOM]</option>
                    </select>
                  </h5></br>
                </div>
                <div style="text-align: center;" id="description_input">
                  <h4 style="display:block; margin:auto; color:#333;">Accomplishment Description: </h4>
                  <h5 style="color:#333;">
                    <textarea id="desc" name="description" rows="6" cols="68" style="resize:vertical;"></textarea>
                  </h4>
                </div>
                <br>
                <input style="color:#333; display:block; margin:auto;" onclick="addPoints()" type="button" value="Submit"></input>
                <br><br>
                </form>
              </div>
            </div>
            <!-- View Points tab content tab -->
            <div class="tab-pane fade" id="view_points" role="tabpanel" aria-labelledby="viewPoints-tab">
              <br>
              <h5 style="color:#333; text-align:center;">Enter your Core ID and press "Submit" to view your innovation points.</h5>
              <form>
                <div style="text-align:center;" id="core_id_input">
                  <h4 style="display:block; margin:auto; color:#333;">Core ID:</h4>
                  <h4 style="display:block; color:#333; margin:auto;">
                    <input id="core_id_view" type="text" name="core_id"/>
                  </h4>
                </div>
                <!-- <form action="viewByID" method="get"> -->
                  <input style="color:#333;" id="viewPointButton" onclick="viewPoints()" type="button" value="Submit"/>
                <!-- </form> -->
              </br>
                <div class="raisedBox" style="visibility: hidden; border:#333 1px solid;" id="userTable">

                </div>

                <div class="raisedBox" style="visibility: hidden; border:#333 1px solid;" id="groupList">

                </div>
                <div class="raisedBox" style="visibility: hidden; border:#333 1px solid;" id="employeeList">

                </div>
                <br>
                <br><br>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
  var typingTimer;                //timer identifier
  var doneTypingInterval = 500;  //time in ms
  $('#core_id').keyup(function(){
    clearTimeout(typingTimer);
    if($('#core_id').val()){
      typingTimer = setTimeout(findManager, doneTypingInterval);
    }
  });
  function findManager(){
    var core_id = document.getElementById("core_id").value;
    console.log("IN FIND MANAGER");
    $.ajax({
      type: "POST",
      url: "/findManager",
      data: { "CORE_ID": core_id },
      cache: false,
      success: function(response){
        document.getElementById("manager").value = response;
      }
    });
  }
  function viewPoints(){
    var btn = document.getElementById("viewPointButton");
    btn.disabled = true;
    var core_id = document.getElementById("core_id_view").value;
    $.ajax({
      type: "POST",
      url: "/viewPoints",
      data: { "CORE_ID": core_id },
      cache: false,
      success: function(response){
        document.getElementById("userTable").innerHTML = response[0];
        document.getElementById("userTable").style.visibility ="visible";

        if(response[1] != null){
          document.getElementById("groupList").innerHTML = response[1];
          document.getElementById("groupList").style.visibility ="visible";
        }
        else{
          document.getElementById("groupList").innerHTML = "";
          document.getElementById("groupList").style.visibility ="hidden";
        }

        if(response[2] != null){
          document.getElementById("employeeList").innerHTML = response[2];
          document.getElementById("employeeList").style.visibility ="visible";
        }
        else{
          document.getElementById("employeeList").innerHTML = "";
          document.getElementById("employeeList").style.visibility ="hidden";
        }
        btn.disabled = false;
      }
    });
    return false;
  }

  function addPoints(){
    var core_id = document.getElementById("core_id").value;
    var accomplishment = document.getElementById("accomplishment").value;
    var description = document.getElementById("desc").value;
    var manager = document.getElementById("manager").value;
    $.ajax({
      type: "POST",
      url: "/addPoints",
      data: { "CORE_ID": core_id,
      "ACCOMPLISHMENT": accomplishment,
      "DESCRIPTION": description,
      "MANAGER": manager
     },
      cache: false,
      success: function(response){
        if(response == "Failure"){
          alert("Improper Inputs");
        }
        else{
          document.getElementById("add_points_tab").classList.remove('active');
          document.getElementById("view_points_tab").classList.add('active');
          document.getElementById("add_points").classList.remove('active');
          document.getElementById("add_points").classList.remove('in');
          document.getElementById("view_points").classList.add('active');
          document.getElementById("view_points").classList.add('in');
          document.getElementById("core_id_view").value = core_id;
          document.getElementById("viewPointButton").click();
        }
      }
    });
    return false;
  }

  function showMoreDetails(element){
    var id = element.id;
    document.getElementById("core_id_view").value = id;
    document.getElementById("viewPointButton").click();
  }
  </script>
</html>
