<html lang="en">
  <head>
    <title>Innovation Tracker</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Style Sheets -->
    <link rel="stylesheet" href="../../public/bootstrap.css"/>
    <link rel="stylesheet" href="../../public/updatedCSS.css"/>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <header>
    <div id="myProgress" style="margin:0; padding:0px;">
      <div id="myBar"></div>
    </div>
    <div style="width:100%; height:10%; text-align:Center; background-color:#ffffff;">
      <h1>TESTING</h1>
    </div>
  </header>

  <body style="background: linear-gradient(to top right, #233249, #3861a0);">
    <div style="float:left; width:30%; display: inline-block; height:100%; border-right:#ffffff solid 1px;">
      <div class="outerDiv" style="height:100%; width:100%;">
          <div class="innerDiv" style="height:40%; width:100%; text-align:center;">
            <a style="font-size: 40px; color:#ffffff;" class="nav-link" id="innovationTracker-tab" data-toggle="tab" href="#innovation_tracker" role="tab" aria-controls="innovationTracker" aria-selected="true">Innovation Tracker</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a style="font-size: 40px; color:#ffffff;" class="nav-link" id="addPoints-tab" data-toggle="tab" href="#add_points" role="tab" aria-controls="addPoints" aria-selected="false">Add Points</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a style="font-size: 40px; color:#ffffff;" class="nav-link" id="viewPoints-tab" data-toggle="tab" href="#view_points" role="tab" aria-controls="viewPoints" aria-selected="false">View Points</a>
          </div>
      </div>
    </div>
    <div style="float:left; width:70%; display: inline-block; height:100%;">
      <div class="outerDiv" style="height:100%; width:100%;">
          <div class="innerDiv" style="height:70%; width:80%; text-align:center; margin-left:auto; margin-right:auto;">
            <!-- Div containing the content -->
            <div class="tab-content" id="headerTabContent">
              <!-- Add Points tab content tab -->
              <div class="tab-pane fade active in " id="innovation_tracker" role="tabpanel" aria-labelledby="innovationTracker-tab" >
                <div style="width:100%; margin:0 auto;">
                  <br>
                  <h1>SHOW TOP 5 EMPLOYEES HERE
                  </h1>
                </div>
              </div>

              <!-- Add Points tab content tab -->
              <div class="tab-pane fade" id="add_points" role="tabpanel" aria-labelledby="addPoints-tab" >
                <div style="width:100%; margin:0 auto;">
                  <br>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="core_id">Core ID:</label>
                        <input type="text" class="form-control" id="core_id" name="core_id">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" readonly>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="manager">Manager:</label>
                        <input type="text" class="form-control" id="manager" name="manager" readonly>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="name">Location:</label>
                        <input type="text" class="form-control" id="location" name="location" readonly>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="accomplishment">Select an Accomplishment</label>
                        <select class="form-control" id="accomplishment" name="accomplishment">
                          <option value="1">Choose your Acomplisment</option>
                          <option value="2">Identify a meaningful problem that needs a solution (1)</option>
                          <option value="3">Identify a new product feature for the backlog (1)</option>
                          <option value="4">Attend a Lunch and Learn (1)</option>
                          <option value="5">Submit abstract for ZTS Expo or Srjana (1)</option>
                          <option value="6">Attend a readout from a customer visit (1)</option>
                          <option value="7">Attend JDM Expo, Innovation showcase, Intern project review (1)</option>
                          <option value="8">Peer review an IP disclosure - witness, read and understand (1)</option>
                          <option value="9">Join Eto Techspresso event (1)</option>
                          <option value="10">Take part in brain storming session (2)</option>
                          <option value="11">Help someone get their first patent disclosure submitted (2)</option>
                          <option value="12">Solve a problem and implement the solution (2)</option>
                          <option value="13">Mentoring inventors for success (2)</option>
                          <option value="14">Teach a class, lead a Lunch and Learn, lead a techtalk, or developer conf (2)</option>
                          <option value="15">Organize and run a brainstorming session (2)</option>
                          <option value="16">Visit a customer and present findings (2)</option>
                          <option value="17">Supervise a summer intern on one of their projects (2)</option>
                          <option value="18">Collaborate across BU's for Differentiation and efficency opportunities (2)</option>
                          <option value="19">Submit a peer reviewed IP disclosure (4)</option>
                          <option value="20">Patent Committee decides to "pursue" your submission - Phase 2 (4)</option>
                          <option value="21">[CUSTOM]</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="desc">Description</label>
                        <textarea style="resize:none;" class="form-control" id="desc" name="desc" rows="3" maxlength="300"></textarea>
                      </div>
                    </div>
                    <div style="text-align:center;">
                      <input type="submit" onclick="addPoints()" class="btn btn-warning"></input>
                    </div>
                </div>
              </div>
              <!-- View Points tab content tab -->
              <div class="tab-pane fade" id="view_points" role="tabpanel" aria-labelledby="viewPoints-tab">
                <br>
                <!-- <form>
                  <div style="text-align:center;" id="core_id_input">
                    <h4 style="display:block; margin:auto; color:#333;">Core ID:</h4>
                    <h4 style="display:block; color:#333; margin:auto;">
                      <input id="core_id_view" type="text" name="core_id"/><input style="color:#333;" id="viewPointButton" onclick="viewPoints()" type="button" value="Submit"/>
                      <h4 style="display:block; color:#333; margin:auto;">Past Years</h4>
                      <select style="color:#333; margin:auto;" id="periods">
                      </select>
                    </h4>
                  </div> -->
                </br>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="core_id_view">Core ID:</label>
                    <input type="text" class="form-control" id="core_id_view" name="core_id_view">
                  </div>
                  <div class="form-group col-md-2"></div>
                  <div class="form-group col-md-2">
                    <label for="viewPointButton" style="visibility:hidden;">Submit Button</label>
                    <a class="btn btn-warning" onclick="viewPoints()" id="viewPointButton" type="submit">Submit form</a>
                    <!-- <input style="color:#333;" class="form-control btn btn-warning" id="viewPointButton" onclick="viewPoints()" type="button" value="Submit"/> -->
                  </div>
                  <div class="form-group col-md-2"></div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="periods">Choose a period:</label>
                    <select class="form-control" id="periods" name="periods"></select>
                  </div>
                  <div class="form-group col-md-6">

                  </div>
                </div>
                <br><br><br>
                <br><br><br>
                <br><br><br>

                <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <a class="btn btn-link" id="btnCollapseOne" style="visibility: hidden;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Your Accomplishments
                        </a>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body" style="visibility: hidden; border:#333 1px solid; text-align:center;" id="userTable">
                        <!-- <div class="raisedBox" >

                        </div> -->
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <a class="btn btn-link collapsed" id="btnCollapseTwo" style="visibility: hidden;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Your Group
                        </a>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        <div class="raisedBox" style="visibility: hidden; border:#333 1px solid;" id="groupList">

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <a class="btn btn-link collapsed" id="btnCollapseThree" style="visibility: hidden;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Your Employees
                        </a>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        <div class="raisedBox" style="visibility: hidden; border:#333 1px solid;" id="employeeList">

                        </div>
                        <button style="visibility: hidden;" type="Button" class="btn btn-info" data-toggle="modal" data-target="#myChart" id="chartDisplayButton">Display Chart</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myChart" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Below is the graph representing your employees progress.</h4>
                              </div>
                              <div class="modal-body">
                                <div id="pieChart" style="height: 0; width: 100%; visibility:hidden;">
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <br>
                  <br>
                  <br><br>
              </div>
            </div>
          </div>
      </div>
    </div>
  </body>

</html>
